.. _@{ module }@:

{% if short_description %}
{% set title = module + ' - ' + short_description|convert_symbols_to_format %}
{% else %}
{% set title = module %}
{% endif %}
{% set title_len = title|length %}

@{ title }@
@{ '+' * title_len }@

{# ------------------------------------------
 #
 # Please note: this looks like a core dump
 # but it isn't one.
 #
 --------------------------------------------#}

{% if version_added is defined -%}
.. versionadded:: @{ version_added }@
{% endif %}

@{ description }@

{% if parameters -%}
Parameters
----------

.. raw:: html

    <table class="rawhtml" border=1 cellpadding=4>
    <tr>
    <th class="head">parameter</th>
    <th class="head">required</th>
    <th class="head">description</th>
    <th class="head">type</th>
    <th class="head">default</th>
    <th class="head">choices</th>
    </tr>
    {% for k in option_keys %}
    {% set v = parameters[k] %}
    <tr>
    <td class="bold">@{ k | html_ify | indent }@</td>
    <td>{% if v.get('required', False) %}yes{% else %}no{% endif %}</td>
    <td>@{ v.description | html_ify | indent }@{% if v['version_added'] %} (added in Taskotron @{v['version_added']}@){% endif %}</td>
    <td>@{ v.type | html_ify | indent }@</td>
    <td>@{ v['default'] | html_ify | indent }@</td>
    <td><ul>{% for choice in v.get('choices',[]) -%}<li>@{ choice | html_ify | indent }@</li>{% endfor -%}</ul></td>
    </tr>
    {% endfor %}
    </table>
{% endif %}

{% if returns -%}
Return Values
-------------

@{ returns }@
{% endif %}

{% if raises -%}
Exceptions
----------

@{ raises }@
{% endif %}


{% if examples or plainexamples %}
Examples
--------

@{ plainexamples }@
{% endif %}


